<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="card mb-3" style="width: 100%;">
            <img class="img-fluid" src="{{url_for('static',filename='images/tree.jpeg')}}" alt="Card image cap">
            <div class="card-body">
                <h4>This blog Title</h4>
                <p class="text-muted font-italic">
                    13:56 am 27 August 2020
                </p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <p>
                  <div class="float-left">
                    <a href="#" class="float-left">read more>>>>></a>
                  </div>
                  <div class="float-right">
                    <a href="#" target="_blank" class="card-link">
                    Comments
                    <span class="ml-1">
                        <i class="fa fa-comment" aria-hidden="true"></i>
                    </span>
                    </a>
                </div>
              </p>
            </div>
          </div>
      </div>
    </div>
  </div>