<!-- Modal -->
<div class="modal fade" id="modal-{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-3">
        <ul class="my-2 list-group">
          {% if post.comments.count() > 0 %}
              {% for comment in post.comments %}
                <li class="list-group-item">
                  <div class="text-italic">
                      {{ comment.comment }}
                  </div><br>
                      <small class="text-muted float-right"> 
                          - {{comment.user.username}}
                      </small>
                  </li>
              {% endfor %}
          {% else %}
             <li class="list-group-item">
                 No Comments
             </li>
          {%endif%}
      </ul>
      <a href="{{ url_for('main.comment',id=post.id)}}" target="_blank"  class="btn btn-sm  btn-info my-1 mx-2">
        Comment
        <span class="ml-1">
        <i class="fa fa-comment" aria-hidden="true"></i>
        </span>
      </a>
      </div>
    </div>
  </div>