<!-- Modal -->
<div class="modal fade" id="recent-modal-{{recentpost.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-3">
        <ul class="my-2 list-group">
          {% if recentpost.comments.count() > 0 %}
              {% for comment in recentpost.comments %}
                <li class="list-group-item">
                  <div class="text-italic">
                      {{ comment.comment }}
                  </div><br>
                  {% if recentpost.postowner(current_user.id) %}
                  <small class="text-muted float-left"> 
                    <a href="{{ url_for('main.deletecomment',id=comment.id)}}">
                      
                      <i class="fa fa-trash-o mr-1" aria-hidden="true"></i> Delete
                    </a>
                  </small>
               {% endif %}
                     
                  </li>
              {% endfor %}
          {% else %}
             <li class="list-group-item">
                 No Comments
             </li>
          {%endif%}
      </ul>
      <a href="{{ url_for('main.comment',id=recentpost.id)}}" target="_blank"  class="btn btn-sm  btn-info my-1 mx-2">
        Comment
        <span class="ml-1">
        <i class="fa fa-comment" aria-hidden="true"></i>
        </span>
      </a>
      </div>
    </div>
  </div>